nav.standard
	width 400px
	height 100%
	left -400px
	background-color color-base-white
	background-size 600px
	background-repeat repeat
	position fixed
	ul
		list-style none
	a
		padding 8px 8px 8px 32px
		text-decoration none
		font-size 25px
		color color-base-white
		display block
		transition 0.3s
		&:hover
			color color-base-green
	.navbtn
		position absolute
		top 0
		right 25px
		font-size 36px
		margin-left 50px

input.hidden
	display none

input#buttonA
	&:checked 
		& ~ nav
			left 0
		& ~ .standard:not(nav)
			margin-left 400px
			width auto
		& ~ header .button.A.toggle
			background rgba(1,1,1,0.9)
			&:before 
				content "close MENU"

.button
	cursor pointer
	position absolute
	width fit-content
	margin 10px 10px
	padding 7px 11px
	top 0
	right 0
	background limegreen
	color #fff
	font-size 12px
	text-align center
	&:before 
		content "CSS Content"

.button.A.toggle
	&:before 
		content "open MENU"

.button.A.close
	&:before 
		content "X"