//- indexContent.pug
section.main.standard.transition.all.ms600.ease
	h1 Ciao Mondo!
	h2 Diese Website aktualisiert sich automatisch neu, wenn ich Änderungen am Quellcode vornehme!!! 😂
	div.img-container(style="width: 300px; height: 200px; background-image: url('img/bg-cookie-blur.jpg');")
		img(data-src="img/bg-cookie.jpg")
		noscript
			img(src="img/bg-cookie.jpg")
