//- indexContent.pug
.container
    h1.title Hello Burger!
    img(src="img/icon.png")
    br
    a(onclick="console.log(successClicker())") Testomat
    br
    p(id="burger-counter")
    script
        include ../../js/main.js