//- Hidden Checkbox Nav
input#buttonA(type='checkbox' name='animate' value='A').hidden
//- use label(for='#buttonA') everywhere


nav.standard.transition.left.ms600.ease.lazy(style="background-image: url('img/bg-cookie-blur.jpg')" data-src="img/bg-cookie.jpg")
	label(for='buttonA').button.A.close
	ul
		li
			a(href='#gadgets') Gadgets
		li
			a(href='#app') Apps
		li
			a(href='#quotes') Quotes