
doctype 
html(lang='en')
    head
        meta(charset='utf-8')
        title PWA-Builder
        link(rel='manifest' href='manifest.json')
        link(rel='apple-touch-icon' sizes='180x180' href='img/icon.png')
        meta(name='description', content='A Progressive Web App Builder')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include css/_bootstrap.css
        style
            include css/index.css
    body.fullscreen.noscript
        script.
            document.querySelector('body').classList.remove('noscript');
        include src/index/indexContent.pug